body {
  background: url("../Assets/BackgroundLogin1.png") no-repeat center center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

section {
  height: 100vh;
  background: url("../Assets/svg/BackgroundLogin2.svg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
